<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>My Complients</h1>

Student Regno:<span th:text="${student.getRegno()}"></span><br>
Student Name:<span th:text="${student.getSname()}"></span><br>
Student Roomno:<span th:text="${student.getRoomno()}"></span><br>
Student Dept:<span th:text="${student.getDept()}"></span><br>
Student Complient:<span th:text="${student.getComp()}"></span>
Student description:<span th:text="${student.getDes()}"></span>
<br>

</body>
</html>